body {
  font-family: sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.178);
  border-radius: 10px;
  max-width: 480px;
  margin: 15vh auto;
  overflow: hidden;
}

.card-image {
  object-fit: cover;
  min-height: 300px;
}

.card-content {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.card-title {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 10px;
}

.card-description, .card-footer {
  font-size: .95rem;
  margin: 0;
  padding-bottom: 10px;
}